.contact-us {
  background-color: #90973b;
  font-family: "Poppins", sans-serif;
}
form {
  margin-top: 10px;
  margin-bottom: 20px;
}
.contact-us input {
  outline: none;
  border: 0;
  border-radius: 25px;
  width: 100%;
  padding: 15px 15px 15px 25px;
  background-color: #fefdfc;
  color: #101010;
  margin-bottom: 15px;
}

.contact-us .remark {
  height: 120px;
}

.contact-us input::placeholder {
  color: #131313;
}

.contact-us .button {
  padding: 15px 55px;
  outline: none;
  border: none;
  border-radius: 30px;
  border: 1px solid #fa0909;
  color: #fff;
  font-weight: bold;
  background-color: #fa0909;
}

.contact-us span {
  color: #fefdfc;
}
