body
{
    margin: 0;
    padding: 0;
}

.brand .logo img:nth-child(1)
{
    height: 4rem;
    width: 6rem;
}

.navbar
{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 76px;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    /* padding: 2.5rem auto; */
    overflow: hidden;
    z-index: 2;
    background: #90953b;
    box-shadow: 3px 8px 12px -9px rgba(0,0,0,0.75);
    padding-bottom: 3rem;

    /* transition: height 1s linear; */

}



.navbar-opened {
    height: auto;
}

.mobile
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto auto;
    padding-right: 1rem;
    padding-left: 1.5rem;
}


.hamburger
{
    align-self: center;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger a {
    color: snow;
}
.icon
{
    color: snow;
}

.navlinks
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 5px auto;
}

.nav-item
{
    text-decoration: none;
    color: white;
    padding: 5px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item:hover
{
    color: white;
    background-color: #78853f;
}

.apply
{
    text-align: center;
    width: fit-content;
    text-decoration: none;
    background-color: #ffff00;
    padding: 5px 10px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px auto;
    /* border: 1px solid #3e8321; */
    /* border-radius: 10px; */
}

.apply:hover
{
    background-color: 78853f;
}

@media (min-width: 768px)
{
    .navbar
    {
        flex-direction: row;
        height: 74px;
    }

    .nav-item
    {
        padding: 5px 15px;
    }

    .navbar-opened {
        height: 60px;
    }

    .mobile{
        display: inline-block;
        width: auto;
    }
    .navlinks
    {
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%;
    }

    .hamburger
    {
        display: none;
    }
}