<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Bootstrap Demo</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet" />
   <link rel="stylesheet" href="./css/about.css">
  </head>
  <body>
    <!-- about flex container starts-->
    <div class="container about-section w-100" id="about-container">
      <div class="row">
        <div class="col-lg-6 img">
          <img src="./img/about-img.jpg" alt="about-img" class="w-100"/>
        </div>
        <div class=" col-lg-6 about-text">
          <h1 class="text-center">A Few Words About Us</h1>
          <h5 class="text-center">Committed to Education</h5>
          <p>
            Global English Medium School is established with the sole purpose to
            create a nurturing space for the students to expand their horizons,
            and cultivate their inherent talents. With an unwavering commitment
            to excellence, we provide an extraordinary educational approach
            guided by a team of devoted educators enthusiastic about empowering
            our students to embark on a journey to reach their fullest
            potential, both personally and academically. By infusing creativity
            and interactivity into our teaching methods, we strive to make
            education a truly captivating experience. Our philosophy revolves
            around recognizing and embracing the unique interests of every
            student and providing them with tailored opportunities to grow and
            evolve in alignment with their passions and aspirations. At Global
            English Medium School, we believe in transforming learning into a
            delightful and engaging journey for each and every child.
          </p>
        </div>
      </div>
    </div>
    <!-- about flex container ends-->

    <!--Bootstrap Js script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
