<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700|Roboto:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/Contact.css" />
  </head>
  <body>
    <!-- contact-us section start -->
    <section class="contact-us">
      <div class="container">
        <div class="heading text-center mb-5">
          <h2>
            School
            <span> Enquiry Form </span>
          </h2>
        </div>
        <div class="row">
          <div class="Enquiry-Form col-lg-6">
            <form action="">
              <div class="row">
                <div class="col-sm-6">
                  <input
                    type="text"
                    placeholder="First Name"
                    name="fname"
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <input
                    type="text"
                    placeholder="Last Name"
                    name="lname"
                    required
                  />
                </div>
                <div class="col-sm-12">
                  <input
                    type="text"
                    placeholder="Contact Number"
                    name="contact-no"
                    required
                  />
                </div>
                <div class="col-sm-12">
                  <input
                    type="email"
                    placeholder="Email"
                    name="email"
                    required
                  />
                </div>
                <div class="col-12">
                  <input
                    type="text"
                    placeholder="Student Name if different"
                    name="another-name"
                  />
                </div>
                <div class="col-sm-6">
                  <input
                    type="number"
                    placeholder="Age"
                    min="5"
                    name="age"
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <input
                    type="text"
                    placeholder="Grade Level"
                    required
                    name="grade-level"
                    required
                  />
                </div>
                <div class="col-12">
                  <input
                    type="text"
                    class="remark"
                    placeholder="Remark if any"
                    name="remark"
                  />
                </div>
                <div class="col-sm-4">
                  <input type="submit" value="SEND" class="button" name="btn" />
                </div>
              </div>
            </form>
          </div>
          <div class="map-section container col-lg-6">
            <div id="map">
              <img
                src="https://cdn.hswstatic.com/gif/maps.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- contact-us section end -->

  </body>
</html>
