<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School Website</title>
  <!-- Link to CSS Files -->
  <link rel="stylesheet" href="css/footer.css">
  <!-- Link to Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- info section starts -->
    <section class="info_section layout_padding">
        <!-- <div class="container">
          <div class="info_form">
            <div class="row">
              <div class="offset-lg-3 col-lg-3">
                <h5 class="form_heading">Newsletter</h5>
              </div>
              <div class="col-md-6">
                <form action="#">
                  <input type="text" placeholder="Enter Your email">
                  <button>subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div> -->
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="info_logo">
                <div>
                  <a href="">
                    <!-- <img src="images/logo.png" alt="" /> -->
                    <img src="./img/logo.jpg" alt="Logo" class="logo_image" />
                    <span>Global School Pune</span>
                  </a>
                </div>
                <p><i>International Exposure with Indian Culture</i></p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="info_links">
                <h5>Contact Us</h5>
                <p class="pr-0 pr-md-4 pr-lg-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                </svg> 9689926751</p>
                <p class="pr-0 pr-md-4 pr-lg-5"><a href="" class="remove-hyp-color">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                  </svg>
                  gems.31314@gmail.com</a></p>
                <p class="pr-0 pr-md-4 pr-lg-5"><a href="" class="remove-hyp-color">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                  </svg>Facebook</a></p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="info_insta">
                <h5>Branches</h5>
                <p class="pr-0 pr-md-4 pr-md-5"><b>Branch1:</b> Global School, Near SBI Ambegaon Bk. branch, Pune - 411046</p>
                <p class="pr-0 pr-md-4 pr-md-5"><b>Branch2:</b> Global School, Audumbar Srushti, Near Nirman Viva, Ambegaon <br>Bk, Pune - 411046</p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="pl-0 pl-lg-5 pl-md-4 info_account">
                <h5>Compliance</h5>
                  <a href="" class="remove-hyp-color">Accessibility</a><br>
                  <a href="" class="remove-hyp-color">Privacy</a><br>
                  <a href="" class="remove-hyp-color">Terms Of Use</a><br>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- info section ends -->
     
    <!-- footer section -->
    <section class="container-fluid footer_section">
      <p>&copy; 2019 All Rights Reserved By GEMS Pune</p>
    </section>
    <!-- footer section -->
      
</body>
</html>
